<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key= "DefaultFile" value="C:\Users\djohnsonbaugh\Documents\CLRFinal.json"/>
    <add key ="TeenMinAge" value ="13"/>
    <add key ="TeenMaxAge" value = "18"/>
    <add key ="AdultMinAge" value="18"/>
    <add key ="MinDaysInactive" value="450"/>
  </appSettings>
</configuration>